# not recommend to exceed 100.
# If this makes your computer uncomfortable, decrease it.
# You can refer to the `benchmark` in readme.
max_threads: 100
qps: null  # requests per sec. null is unlimited
# qps: 80  # requests per sec

# The words in each seed dict should be splitted by `\n`, one word, one line.
seed_lists:
  en: crawlers/glosbe/seed_lists/en.txt

output_dir: outputs

# 1. `https://glosbe.com/$src/$tgt`
#    For example, if you want to crawl something about '瓦瑞语', whose url is `https://glosbe.com/en/war`, then src=en, tgt=war.
# 2. If `restart` is set, local file and all crawling history of this language pair will be removed. DEFAULT=false
# 3. Each task uses seed_lists[src] as seed word list to warm up the crawler, which can effectively broaden the scraping scope and speed up crawling. If no dict is specified, the crawler will generate seeds by itself.
crawl_tasks:
  - src: en
    tgt:
      - sr
      - ba
      - os
      - wym
      - tpi
      - tbc
      - ms
      - nmm
      - ku
      - bg
      - gd
      - khw
      - frp
      - rue
      - srn
      - is
      - ta
      - mn
      - als
      - gu
      - be
      - my
      - ht
      - nso
      - lad
      - az
      - hak
      - ay
      - sjd
      - lt
      - msn
      - ang
      - ce
      - non
      - oc
      - ky
      - lld
      - frm
      - hbo
      - nan
      - qxs
      - ie
      - mis_gal
      - rif
      - fur
      - orh
      - as
      - rm
      - pnb
      - sco
      - jv
      - nap
      - diq
      - ilo
      - id
      - ext
      - taj
      - fr
      - vro
      - sc
      - tg
      - bs
      - bm
      - srm
      - pms
      - cs
      - crs
      - lb
      - th
      - yue
      - myv
      - hur
      - lbe
      - hr
      - xno
      - cy
      - se
      - ab
      - lmo
      - nci
      - sn
      - azb
      - et
      - moc
      - arc
      - aqc
      - ps
      - nv
      - mhr
      - ln
      - nl
      - af
      - te
      - vec
      - he
      - ia
      - fi
      - frr
      - lzh
      - mi
      - vls
      - si
      - grc
      - prg
      - el
      - ru
      - hil
      - avk
      - wuu
      - sga
      - ca
      - zlm
      - car
      - vi
      - quz
      - fa
      - ty
      - to
      - hu
      - tzo
      - gue
      - pl
      - gwd
      - rup
      - io
      - kap
      - uk
      - gv
      - lv
      - haw
      - ote
      - ota
      - fro
      - enm
      - ti
      - ksh
      - bcl
      - sm
      - jup
      - mr
      - sh
      - sw
      - cu
      - eu
      - uz
      - krc
      - ml
      - gsw
      - es
      - kok
      - tr
      - bpy
      - ayr
      - scn
      - irk
      - tl
      - ii
      - qu
      - nov
      - su
      - kjh
      - it
      - br
      - yo
      - nds
      - vep
      - kek
      - hi
      - am
      - bo
      - ug
      - zh
      - fuh
      - mg
      - ja
      - so
      - pap
      - ceb
      - pum
      - prs
      - udm
      - cv
      - lg
      - szl
      - km
      - ltg
      - ket
      - src
      - sl
      - ka
      - tt
      - war
      - hy
      - ssl
      - lij
      - wo
      - pa
      - kk
      - mdf
      - pt
      - vo
      - cng
      - bar
      - mrj
      - la
      - rmc
      - mwl
      - sa
      - csb
      - kv
      - gn
      - xal
      - jbo
      - plt
      - mt
      - rom
      - quy
      - sah
      - wa
      - ro
      - dv
      - lfn
      - arn
      - arz
      - goh
      - tk
      - twf
      - kn
      - qvi
      - xh
      - or
      - ses
      - eo
      - jra
      - pot
      - kha
      - krl
      - yi
      - fo
      - ur
      - nmn
      - sq
      - li
      - ne
      - sk
      - tyv
      - hif
      - ar
      - pam
      - gl
      - knc
      - kw
      - mk
      - ga
      - de
      - cwg
      - sv
      - crh
      - hsb
      - st
      - an
      - lo
      - yua
      - ast
      - na
      - pdc
      - mis_kah
      - nn
      - sgs
      - rw
      - gan
      - za
      - stq
      - tn
      - nb
      - kl
      - syc
      - iu
      - zu
      - mww
      - fil
      - nrm
      - yaq
      - bn
      - lus
      - chr
      - rmy
      - dsb
      - ig
      - dlm
      - ydd
      - ee
      - mzh
      - fy
      - new
      - da
      - tet
      - ccc
      - ko
      - ha
      - ckb
      - es
      - ka
      - xal
      - haw
      - ltg
      - kek
      - jbo
      - tl
      - ty
      - to
      - eu
      - hi
      - ml
      - dsb
      - ia
      - hif
      - prs
      - so
      - krc
      - vro
      - ceb
      - na
      - cng
      - kap
      - ote
      - qu
      - nb
      - as
      - ro
      - lus
      - cu
      - rup
      - ti
      - frr
      - hil
      - oc
      - kn
    restart: false
